*{
    margin: 0;
    padding: 0;
}

/* font-family: 'Chivo', sans-serif;

font-family: 'Open Sans', sans-serif; */

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}


/* header section css start */

header{
    width: 100%;
    background-color: #150303;
}

.navbar{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.nav-link{
    font-size: 14px;
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-link:hover{
    color: #FB0000 !important; 
   
}

.quote-btn{
    background-color: #FB0000;
    color: white;
    padding: 25px 60px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 16px;
}
.quote-btn:hover{
    color: white;
    
}

.navbar{
    padding: 0;
}

.nav-item{
    margin: 0px 16px;
}

.navbar-brand img{
    margin-left: 35px;

}

#banner{
    width: 100%;
    background-color: #150303;
}

.b-content{
  
    height: 80vh;
    display: flex;
    align-items: center;
    

}
#banner .b-content h1{
    font-family: 'Chivo', sans-serif;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

.b-content p{

    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #fff;
    margin-bottom: 60px;


}

.b-flex p{
    display: block;

}



.book-btn{
    background-color: #FB0000;
    color: white;
    padding: 25px 60px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    z-index: 9999;
   

}


.book-btn::before{
    content: '';
    background-color: #fff;
    
    top: 0;
    width: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.b-content a:hover{
    color: #FB0000;
    transition: 0.5s;
}

.book-btn:hover::before{
    width: 100%;
    transition: 0.5s;
    

}

.banner-img{
    float: right;
}




/* about section css */

#about{
    width: 100%;
    padding: 100px 0px;
}

.a-item{
    margin: 22px 0;
    align-items: center;

}

.a-item i{
    background: #fff0f1;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    line-height: 60px;
    text-align: center;
    color: #FB0000;
    font-size: 22px;

}

.a-desc{
    font-family: 'Open Sans', sans-serif;
    color: #675e5e;
    font-size: 18px;
    font-weight: 400;
    margin: 0;

}

.line{
    height: 5px;
    width: 50px;
    background-color: #FB0000;
    margin-bottom: 26px;
}


#about h2{
    font-size: 50px;
    font-family: 'Chivo', sans-serif;
    display: block;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 12px;

}

#about p{
    color: #675E5E;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-top: 30px;
}


.about-btn{
    color: #FB0000 !important;
    border: 2px solid #FB0000;
    display: inline-block;
    padding: 14px 32px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    background: none;
    border-radius: 0px;
    transition: 0.5s;
}

.about-btn:hover{
    background-color: #FB0000;
    border: 2px solid #FB0000;
    color: #fff !important;
    transition: 0.5s;
}

#about img{
    width: 125%;
}

.p-user-img{
    display: flex;
    flex-wrap: wrap;
}

/* price section css */

#price{
    width: 100%;
    padding: 100px 0;
}

.p-content h2{
    font-family: "Chivo",sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 52px;
    padding-bottom: 16px;
    border-bottom: 1px solid black;



}

.p-list li {
    border-bottom: 1px solid #EFDCE4;
    margin-bottom: 20px;
}

.fw-bold{
    color: #150303;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400 !important;
    margin-bottom: 16px;
    font-family: "Chivo",sans-serif;


}

.p-amnt{
    color: #3F4854;
    font-size: 18px;
}

.p-amnt span{
    font-family: "Chivo",sans-serif;
    color: #FB0000;
    font-weight: 700;
    padding-left: 5px;
}

.p-content {
    margin: 4rem 0 !important;
}

/* service section css */
#service{
    width: 100%;
    padding: 100px 0;
}

#service .title{
    font-family: "Chivo",sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 26px;

}

.accordion-button:not(.collapsed){
    background-color: #FB0000 !important;
    color: white !important;
    border: none !important;
}

.accordion-button{
    font-family: "chivo", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #150303;
    border-radius: 0% !important;
    
}

.accordion-item{
    margin-bottom: 26px;
    border: none!important;
}

.accordion-header{
    margin-bottom: 25px;
}

.accordion-button:not(.collapsed)::after{

    background-image: url(../img/arrow-down-white.svg)!important;


}

.accordion-button::after{
    background-image: url(../img/arrow-down-white.svg);
   
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-body{
    padding:  0 !important;
}


/* service category section css */

#s-category{
    width: 100%;
    background-image: url(../img/s-cat-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
}


.sc-item{
    background: #150303;
    border-radius: 15px;
    padding: 48px 40px;
    text-align: center;
    position: relative;
    z-index: 999;

}


.sc-item img{
    margin-bottom: 20px;

}

.sc-item h3 a{
    color: #fff;

}

.sc-item h3{
    font-family: "Chivo",sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 21px;
    color: #fff;

}

.sc-item:hover h3 a{
    color: #150303 !important;
}

.sc-item p{
    color: #928888;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

}

.sc-item::before{
    content: '';
    position: absolute;
    background-color: white;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    border-radius: 15px;
    z-index: -1;
    transition: 0.6s;
}

.sc-item:hover::before{
    height: 100%;
    transition: 0.6s;
}

/* img slider css */

#img-slider{
    width: 100%;
}

#img-slider .owl-item{
    margin-right: 0  !important;
}

#img-slider .owl-nav{
    display: none;
}

#img-slider .owl-dots{
    display: none;
}

#img-slider .item{
    position: relative;
}

#img-slider .item::before{

    content: '';
    position: absolute;
    background-color: rgba(251, 0, 0, 0.137);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    


}

#img-slider .item:hover::before{
    opacity: 1;

}

/* testimonial section css */

#testimonial{
    width: 100%;
    padding:100px 0 ;
}

.t-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.t-title h3{
    font-family: "Chivo",sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 12px;

    
}

.r-cap p{
    color: #150303;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 24px;
    font-weight: 400; 
    font-family: "Open Sans",sans-serif;

}

.r-cap .rating{
    margin-bottom: 18px;
    display: block;
} 

.r-cap .rating i{
   color: #fb0000;
}


.r-img p{
    margin-left: 16px;
}

.t-review row{
    border-top: 1px solid black;
    
}

.c-border{
    border:1px solid rgba(103,94,94,.2);
}

.t-item{
    padding: 32px;
}

.c-border:first-child{
    border-left: none!important;
    border-right: none!important;
}

.c-border:last-child{
    border-left: none!important;
    border-right: none!important;
}

/* footer section css */
footer{
    width: 100%;
    padding: 100px 0;
    background-color: #150303;

}

.footer-1 i{
    color: #FB0000;
    font-size: 20px;
    margin-bottom: 25px;

}

.footer-1 h5{
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-1 p{
    color: #928888;
    font-weight: 400;
    font-size: 15px;
    
}

.footer-1 a{
    color: #928888;
    font-weight: 400;
    font-size: 15px;
    text-decoration: underline transparent;
  }

.m-footer{
    text-align: center;
}

.m-footer p{
    font-family: "Open Sans",sans-serif;
    color: #675e5e;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.6;
}

.m-footer a i{
    color: #fff;
    background: rgba(255,255,255,.06);
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin-top: 30px;
    transition: 0.5s;
}

.end{
    display: flex;
    justify-content: flex-end;
}

.m-footer a i:hover{
    background-color: #FB0000;
    transition: 0.5s;
    transform: rotateY(180deg);
}

.m-footer img{
    margin-bottom: 35px;
}

/* copyright section css */

.copyright{
    background-color: #150303;
    text-align: center;
    
}

.copyright p{
    color: #928888;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    font-family: "Open Sans",sans-serif;
    margin-bottom: 0 !important;
    padding-bottom:20px ;
}

